* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background: #222;
}

.card {
    width: 90%;
    max-width: 570px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 50px auto 0;
    margin-top:20px;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.note{
    color:rgb(231, 25, 10);
    font-style: italic;
    font-size: 14px;
}
.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search input:focus{
    border: 4px  #02fc6e;
    scale: 1.022;
}


.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 16px;
}

.weather-icon {
    width: 170px;
    /* margin-top: 30px; */
}

.weather-icon h1 {
    font-size: 80px;
    font-weight: 500;

}

.weather-icon h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;

}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;

}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 28px;
}


.time{
    display: flex;
    justify-content:space-between;
}

/* .weather{
    display: none;
} */
.back-btn {
  position: relative;
  margin-bottom: 0;
  padding: 8px 15px 8px 15px;
  right: 20px;
  border-radius: 8px;
  border: 1px dotted #c5dfeb;
  background-color: #68bfeb8e;
  box-shadow: 0 1px 5px #b27474c8;

}

.back-btn i{
    text-align: left;
    justify-content: left;
    position: relative;
    size: 1.5em;
}
.back-btn::after {
  content: "Go Back to Project List Page";
  position: absolute;
  top: 120%; 
  left: 50%;
  transform: translateX(5%) translateY(-350%);
  background-color: #b9460350;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 0;
  padding: 2px;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 999;
}

.back-btn:hover::after {
  opacity: 1;
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top:15px ;
    color:red;
    display: none;
}

.error p{
    text-shadow: 2px 3px 10px red;
}