.img-box>img{
    width: 100px;
    height: 100px;
}
*{
    margin: 0;
    padding: 0;
}
body{
    margin-left: 10%; margin-right: 10%;
}

.main-box{
    background-color: #f5f7fa;
    padding-top:60px;
    width: 100%;
    height: 100%;
}
.heading-box{
    width:100%;
}
.heading{
    text-indent: 20px;
}

.heading-box{
    display: flex;
    position: relative;
    top: -40px;
    left:6%;
}

.sub-heading{
    position: relative;
    left: 34%;
    bottom: 98px;
}

.exam-date{
   position: relative;
    left: 65%;
    bottom: 85px; 
}

.class{
   position: relative;
    left: 40%;
    bottom: 110px; 
}

.personal-details{
    position: relative;
    bottom: 40px;
    font-weight: bold;
    line-height: 30px;
    width:100%;
}

.cname,.cfname,.ccollege-name{
    padding-left: 70px;
}

.roll{
    padding-left:90px;
}
.croll{
    padding-left: 140px;
}

.fname{
    padding-left: 95px;
}

.cenroll{
    padding-left: 155px;
}

.enroll{
    padding-left: 40px;
}

.name{
    padding-left: 75px;
}

.college-name{
    padding-left:70px;
}
table>tbody>tr>td{
    padding-left:3em;
    padding-right:3em;
    padding-top:0.4em;
    padding-bottom: 0.4em;;
    text-align: center;
    border: 1px solid black;
    font-size: 0.6em;
}
table>tbody>tr>th{
    /* padding:0.2em; */
    padding: 1em;
    border: 1px solid black;
    font-size: 0.65em;
}
.table2>tr>td{
    /* padding-left: 3em;
    padding-right: 3em; */
    /* margin-left: 10%; */
    /* margin-right: 10%; */
    /* padding:0.2em; */
    /* background-color: red; */
    border: 1px solid black;
}

table{
    border-collapse: collapse;
    border: 2px solid black;
    width:100%
}
td>table{
    width:99%;
}
table th{
    background-color: #d6d4d4;
}
.table2{
    margin: 5px;
}
table tr:nth-child(even){
    background-color: #90c6f3;
}
